<!-- Formulario de New Property -->
<div class="col-md-6">
  <div class="row">
    <div class="col-md-offset-2 col-md-9">
      <%= form_for(publication, html: { multipart: true, class:"form-horizontal", id: 'form-new-publication' }) do |f| %>
        <% if publication.errors.any? %>
        <div class="alert alert-danger text-center">
          <%# pluralize(publication.errors.count, "error") %>
          <h3><strong>Oh No!</strong></h3>
          <p>Ha ocurrido un error</p>
          <ul>
            <% publication.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <!-- -->
        <%  %>
        <h3 class="subtitle-form-property text-center">Ingresa los datos de tu Propiedad</h3>
        <br>
        <!-- Form -->   
        <%# f.hidden_field :user_id, :value => current_user.id %>
        <div class="form-group">
          <%= label :category, "Categoría" %>
          <%= f.collection_select :category_id, @categories, :id, :name, {prompt: "Escoge una categoría"}, class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= label :type, "Tipo de Inmueble" %>
          <%= f.collection_select :type_id, @types, :id, :name, {prompt: "Escoge un tipo de inmueble"}, class: 'form-control', required: true %>
        </div>
        <div class="form-group">
          <%= label :title, "Título" %>
          <%= f.text_field :title, class: 'form-control', placeholder: "Ej: Vendo casa en Vitacura", required: true %>
        <% if publication.errors[:title].any? %>
          <span class="label label-danger">
            <% publication.errors[:title].each do |message| %>
              <%= message %>
            <% end %>
          </span>
        <% end %>
        </div>
        <div class="form-group">
          <%= label :address, "Dirección" %>
          <%= f.text_field :address, class: 'form-control', placeholder: "Ej: Av. Simón Bolívar, 3765, Región Metropolitana", required: true %>
        </div>
        <div class="form-group">
          <%= f.label :region_id, "Región" %>
          <%= f.collection_select :region_id, @regions, :id, :name, {prompt: "Selecciona una Región"}, class: 'form-control', required: true %>
        </div>
        <div class="form-group" id="communes">
          <%= f.label :commune_id, "Comuna" %>
          <%= f.grouped_collection_select :commune_id, Region.order(:name), :communes, :name, :id, :name, {}, class: 'form-control' %>
        </div>
        <!--
        <div class="form-group">
          <%# label :photo, "Imágen" %>
          <%# f.file_field :photo %>
          <%# f.hidden_field :photo_cache %>
          <%# image_tag(@publication.photo) if @publication.photo? %>
        </div>
       -->

        <div class="form-group">
          <%= f.fields_for :publication_attachments do |p| %>
            <%= p.label :photo, "Imágenes" %>
            <%= p.file_field :photo, multiple: true, name: "publication_attachments[photo][]" %>
          <% end %>
        </div>

        <div class="form-group">
          <%= label :bedroom, "Dormitorios" %>
          <%= f.select(:bedroom, options_for_select([['1 Dormitorio', '1'], ['2 Dormitorios', '2'],['3 Dormitorios', '3'],['4 o más Dormitorios', '4']]),{},class: 'form-control') %>
        </div>
        <div class="form-group">
          <%= label :bath, "Baños" %>
          <%= f.select(:bath, options_for_select([['1 Baño', '1'], ['2 Baños', '2'],['3 Baños', '3'],['4 o más Baños', '4']]),{},class: 'form-control') %>
        </div>
        <div class="form-group">
          <%= label :parking, "Estacionamientos" %>
          <%= f.select(:parking, options_for_select([['1 Estacionamiento', '1'], ['2 Estacionamientos', '2'], ['3 Estacionamientos', '3'], ['4 o más Estacionamientos', '4']]),{},class: 'form-control') %>
        </div>
        <div class="form-group">
           <%= label :equipments_ids, "Equipamiento" %>
            <div class="row">
                <%= collection_check_boxes(:publication, :equipments_ids, Equipment.all, :id, :name, 
                checked: publication.equipments.map(&:id)) do |equipment| %>
                <div class="col-md-6">  <%= equipment.label { equipment.check_box + equipment.text } %></div>
              <% end %>
            </div>
         </div>
        <div class="form-group">
          <%= label :description, "Descripción" %>
          <%= f.text_area :description, class: 'form-control', placeholder: "Ej: Vendo Casa de 2 pisos totalmente equipada, ubicada en sector residencial, etc.", required: true %>
        </div>
        <div class="form-group" id="precio-pub">         
          <%= label :price, "Precio" %>
          <%= f.number_field :price, class: 'form-control', placeholder: "Ej: 3000 UF", required: true %>
        </div>

        <script>
          $("#publication_category_id").change(function() {
            var valor_categoria = $("#publication_category_id").val();
            console.log(valor_categoria)
            if (valor_categoria == 7) {
             $("#precio-pub").html('<label for="price_Precio">Precio Mensual</label><input class="form-control" placeholder="Ej: 500.000" required="required" type="number" name="publication[price]" id="publication_price" aria-required="true">')
            }
            if (valor_categoria == 8) {
              $("#precio-pub").html('<label for="price_Precio">Precio Venta</label><input class="form-control" placeholder="Ej: 3000 UF" required="required" type="number" name="publication[price]" id="publication_price" aria-required="true">');
            }
          });
        </script>

        <div class="form-group actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-3">
              <%= link_to 'Volver', publications_path, class: 'btn btn-danger' %>
            </div>
            <div class="col-md-1">
              <%= f.submit 'Crear Publicación', class: 'btn btn-success', id: 'new-publication' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <script>
        function validateForm(){
          $("#form-new-publication").validate({
            debug: false,
            rules: {
              title: {required: true},
              category: {required: true},
              type: {required: true},
              address: {required: true},
              region: {required: true},
              description: {required: true},
              price: {required: true}
            },
            messages: {
              title: "Debes ingresar un título",
              category: "Debes seleccionar una categoría",
              type: "Debes seleccionar un tipo de inmueble",
              address: "Ingresa tu dirección",
              region: "Selecciona una región",
              description: "Debes ingresar una descripción",
              price: "Ingres un precio valido"
            }
          });
          $("#new-publication").click(function(event) {
            event.stopPropagation(); 
            validateForm()
          });
        }
       $(document).on('page:load', validateForm());
      </script>
  </div>
</div>

<!-- Datos de Contacto -->
<div class="col-md-6">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h3 class="subtitle-information-courses text-center">Datos de Contacto</h3>
      <br>
      <div class="row">
        <div class="col-md-12">
          <%= image_tag(current_user.avatar, class: 'img-circle img-responsive') %>       
        </div>
        </div>
      <fieldset disabled>
        <% if user_signed_in? %>
          <div class="form-group">
            <label for="Nombre">Nombre</label>
            <input type="text" value="<%= current_user.name %>" class= "form-control">
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" value="<%= current_user.email %>" class= "form-control">
          </div>
          <div class="form-group">
            <label for="email">Celular</label>
            <input type="email" value="<%= current_user.phone %>" class= "form-control">
          </div>
        <% end %>
      </fieldset> 
    </div>
  </div> 
</div>


