
    <h4>Actualmente tienes: <%= @publications.count %> avisos</h4>
    <br>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover table-borderedt tabla">
          <thead>
            <th class="text-center">Estado</th>
            <th class="text-center">Aviso</th>
            <th class="text-center">Descripción</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Administrar</th>
          </thead>
          <% @publications.each do |publication| %>
          <tbody class="text-center">
           <tr>
            <td class="col-md-1">
              <i class="fa fa-check check-icon" aria-hidden="true"></i>
            </td>
            <td class="col-md-2"><%= link_to (image_tag(publication.publication_attachments.first.photo.thumb, class: 'img-property-account img-thumbnail')), publication unless publication.publication_attachments.empty? %>
            </td>
            <td class="col-md-3 text-justify">
             <span><%= publication.created_at.strftime("%d de %B") %></span>
             <h4><b><%= publication.title %></b></h4>
             <p><%= publication.commune.name %></p>
             <i class="fa fa-eye" aria-hidden="true"></i>
             <span><%= publication.page_views %></span>
           </td>
           <td class="col-md-1">
             <p><b><%= publication.price %></b></p>
           </td>
           <td class="col-md-3">
             <%= link_to publication, class: 'btn btn-info btn-sm' do %>
             <span class="fa fa-eye"></span>
             <% end %>
             <%= link_to edit_publication_path(publication), class: 'btn btn-primary btn-sm' do %>
             <span class="fa fa-pencil"></span>
             <% end %>
             <%= link_to publication, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' do %>
             <span class="glyphicon glyphicon-trash"></span>
             <% end %>
           </td>
          </tr>
        </tbody>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>